.card {
  box-shadow: 0 4px 8px 0 var(--color-primary);
  transition: 0.3s;
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 var(--color-primary);
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

.data {
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.title {
  font-size: 38px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .card {
    box-shadow: 0 4px 8px 0 var(--color-primary);
    transition: 0.3s;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
