.backgroundGrey {
  background-color: #eeeeee;
  min-height: 100vh;
}

.fontColorPrimary {
  color: var(--color-primary);
}

.subTitleContainer {
  padding-left: 10%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.row {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.smallFontWeight {
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .row {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 0%;
  }
}
