.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  font-size: 28px;
  background-color: #002147;
  color: white;
}

td:hover {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
