html {
  --color-primary: #002147;
  --color-secondary: #2bbdbf;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  font-family: -apple-system, 'Montserrat', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 3em;
}

th,
td {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
}
